@import url("../components/common/button/button.style.css");
@import url("../components/common/spinner/spinner.style.css");
@import url("../components/common/avatar/avatar.style.css");
@import url("../components/common/container/container.style.css");
@import url("../components/common/form/checkbox/checkbox.style.css");
@import url("../components/common/form/inputIcon/inputIcon.style.css");
@import url("../components/common/form/label/label.style.css");
@import url("../components/common/form/textInput/textInput.style.css");
@import url("swiper/css");
/* layouts */
@import url("../components/layouts/main/sidebar/sidebar.styles.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-link {
   @apply relative;
}
.text-link::before {
   @apply absolute -bottom-[3px] left-0 right-0 block w-full h-[1px] bg-primary;
   content: "";
}
.text-link:hover {
   @apply text-primary;
}
.text-link:hover::before {
   @apply bg-primary;
}


.inputRange {
   appearance: none;
   height: 8px;
   border: 1px solid #e2e2e2;
   border-radius: 9999px;
   background: linear-gradient(90deg, #ffffff 30%, #00000026 30%);
   cursor: pointer;
 }
 
 /* Thumb: for Chrome, Safari, Edge */
 .inputRange::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 22px;
   height: 22px;
   border: 2px solid #e0e0e0;
   border-radius: 9999px;
   background: #ffffff;
   box-shadow: none;
 }
 
 /* Thumb: for Firefox */
 .inputRange::-moz-range-thumb {
   width: 22px;
   height: 22px;
   border: 2px solid #e0e0e0;
   border-radius: 9999px;
   background: #ffffff;
   box-shadow: none;
 }
